<div id="banner" class="container-fluid">
  <%= link_to(admin_path, id: 'banner-link') do %>
    <%= image_tag("lunettes.png", id: 'banner-icon') %> 
    <div id="menu-title">
      <span id="main-title">ダンのプチブログ</span></br>
      <span id="secondary-title">フランス語無料レッスン</span>
    </div>
  <% end %>
</div>

