<h1 id="list-title" class="h1">ライブレッスン</h1>
<hr class="title-hr">
<div>
<%= image_tag "id", height: '120', style: "float: left; margin: 20px;" %>
<p>はじめまして！ダンと申します、よろしくおねがいします！</p>
<p>現在は東京で留学している大学生です。</p>
</div>
<hr/>
<p>
このウェブサイトに色々な資料を投書しますけど外国語を習う時には実際に話すことは重要です！ライブレッスン、またはSkypeレッスンを探していたらどうぞ下記のメールアドレスでご連絡ください。
<br/>
<br/>
<h1 id="list-title" class="h1">連絡</h1>
<hr class="title-hr">
<table class="table conjugaison-table">
  <tr>
    <th>メールアドレス</th>
    <td>dan.ringwald12@gmail.com</td>
  </tr>
  <tr>
    <th>電話</th>
    <td>08098015975</td>
  </tr>
</table>
<br/>
<br/>
<h1 id="list-title" class="h1">料金</h1>
<hr class="title-hr">
<table class="table conjugaison-table">
  <tr>
    <th>1時間料金</th>
    <td>1500¥</td>
  </tr>
  <tr>
    <th>通行料金</th>
    <td>+800¥</td>
  </tr>
  <tr>
    <th>グループ料金</th>
    <td>+500¥ / 人</td>
  </tr>
  <tr>
    <th>学生割引</th>
    <td>-500¥ / 時</td>
  </tr>
</table>
</div>
