<h1>連絡</h1>
<hr class="title-hr">
<div>
<%= image_tag "id", height: '150', style: "float: left; margin: 20px;" %>
<p>はじめまして！ダンと申します、よろしくおねがいします！</p>
<p>現在は東京で留学している大学生です。</p>
</div>
<hr/>
フランス語を実際に練習したり、このウェブサイトの日本語を修正してあげたかったり、フランス料理のレシピ探していたり、なんの理由でもごきがるに下記のメールアドレスでご連絡ください：
<br/>
Dan RINGWALD<br/>
dan.ringwald12[at]gmail.com
<br/>
[at]の代わりに＠をつかってね　;)

<hr/>

ほとんど毎日、夜に、中野駅前のスタバでこのウェブサイトを作っていますのでフランス語を練習したかったら連絡してあそこで会えないでしょうか？

<br/>

それでまたね！
</div>
