<p>アンキというソフトは語彙を暗記するためのソフトです。</p>
  <p>ウェブサイトは英語で書いているけど大きいDownloadボタンをクリックしてソフトをインストールする時日本語、またはフランス語選んでください。</p>
  <%= link_to( 'http://ankisrs.net/',
               class: "btn btn-success",
               target: "_blank") do%>
    アンキのウェブサイトはこっち
  <%end%>
  <hr/>
  <p>パソコンでウェブでも（アンキウェブ）、アンドロイド（Ankidroidアプリ）でも利用できる。ウェブかアプリで使えばオンラインでシェアされている単語セットを使える。仏日単語セットをアップロードするからどうぞ使ってください！</p>
<p>みんなのフランス語からのパケットのファイルネームにはみんなのフランス語と付くので見つかれやすい　：）<br/>
それも語彙のセクションでパケットを紹介をする。</p>
  <hr/>
<p>ウェブではなくて、アプリではなくてデスクトップのAnkiソフトをつかえば、シェアパケットを手に入れないのでこのウェブサイトから直接に単語パケットをダウンロードしてソフトでインポートしてください。</p>
<p>例えばこういうバタンでパケットをダウンロードできる：</p>  
  <%= link_to controller: "articles",
              action: "packet_download",
              id: params[:id],
              file: "basic",
              ext: "apkg",
              method: :get,
              class: "btn btn-success" do %>
  <button class="btn btn-success"><span class="glyphicon
  glyphicon-download-alt" aria-hidden="true"></span>
  基礎挨拶語彙</button>
  <% end %>
<br/>
<br/>
<br/>
