<p>Speak Easyは山手線の大塚駅前の言語テーマバーです。別にフランス語テーマだけではないけど時々週末にフランス語テーマパーティが行います。それもあのバーで常にフランス人が結構多いですからフランス語を練習するためいいところですよ！</p>
  <%= link_to( 'http://www.speakeasy-tokyo.com',
               class: "btn btn-success",
               target: "_blank") do%>
    ウェブサイトをご覧ください
  <%end%>
<hr/>
<p>住所は：　<br/>
Suzuya Building 3F<br/>
14-1 Kita Otsuka – Toshima-ku<br/>
170-0004 Tokyo-to, Japan<br/>
〒170-0004 東京都豊島区北大塚2-14-1　鈴矢ビル３F<br/>
</p>
