<p>今度のトピックは「C」の字の発音しかた！</p>
<hr/>
<p>「C」は日本人として中々簡単の発音しかただけどルールがあります！</p>
<p>「C」の次の字より「C」の発音仕方変わる。例えば「Cé」は「せ」との発音になりますが「Ca」は「か」との発音になります</p>
<hr/>
<p>詳しくは：</p>
<table class="table">
  <tr>
    <th>「C」の次の字</th>
    <th>「C」の発音</th>
  </tr>
  <tr>
    <td>a - o - u - 何でもの子音</td>
    <td>か - こ - ku (「く」と「き」の間の音)</td>
  </tr>
  <tr>
    <td>その他の母音</td>
    <td>s と同じように発音!</td>
  </tr>
</table>
<hr/>
<p>だけど、「Ç」と言う字を見た事があるんじゃない？この字の名前は「C cédille」だ。この字はいつも「s」と同じ発音仕方にする。ある言葉の中に何かの理由で「C」の後の字が変わったら、たまに「C」の発音を守るために「C」を「Ç」に変わる。例えば「commencer」という動詞（始める）、「commençant」(始めている)になることもある。</p>
<hr/>
<h2>練習</h2>

