<div class="jumbotron post hero-spacer">
  <div>
    <h1 class="header"><%= article.title %></h1>
    <span class="article-date"><%=
      article.created_at.strftime("%m/%-d/%Y")
    %></span>
  </div>
  <hr class="title-hr">
  <%= render article.full_path %>
</div>
