<%= link_to controller: 'articles',
            action: 'show',
            id: article.id do %>
<tr>
  <td><%= article.title %></td>
  <td><%= article.image_name %></td>
  <td><%= article.filename %></td>
</tr>
<% end %>

