<div class='display-block' id='display-articles'>
  <h1>Listing articles</h1>
  <% @articles.each do |article| %>
    <%= render partial: 'articles/article',
                locals: {article: article}
    %>
  <% end %>

  <% if @admin %>
    <div class='article-thumbnail'>
      <%= link_to new_article_path do %>
        <div id='add-article'>
          <span class="glyphicon glyphicon-plus">
          </span>
        </div>
      <% end %> 
    </div>
  <% end %>
</div>
