<%= link_to 'Back to texts list', articles_path%>
<div id='article-container'>
  <div class='article-header'>
    <h1>Title:</h1>
    <%= @article.title %>
  </div>


  <div id='writings-container'>
    <%= render @article.writings %>
  </div> 

  <div id='remarks'>
  </div> 

</div>

