<!-- Verbe être -->
<p>今日のトピックはÊTREと言う動詞です！</p>
<p>つまりにすればÊTREとは　だ/です　と同じものです。しかしフランス語は日本ごより難しい...</p>  
<!-- TODO: get the same text size for non-p text -->
<ul>
  <li>（X）は/が（Y）です　<=>　（X）（ÊTRE）（Y）</li>
  <li>ÊTRE動詞は主語より変わる！</li>
</ul>
<hr/>
<p>現在時制ならば：</p>
<!-- TODO: stylise the conj table -->
<table class="conjugaison-table table">
  <tr>
    <th>フランス語</th>
    <th>日本語</th>
  </tr>
  <tr>
    <!-- TODO: stylise the focus class-->
    <td>Je <span class="focus">suis</span> étudiant</td>
    <td>私は学生です</td>
  </tr>
  <tr>
    <td>Tu <span class="focus">es</span> étudiant</td>
    <td>あなたは学生です</td>
  </tr>
  <tr>
    <td>Il <span class="focus">est</span> étudiant</td>
    <td>彼は学生です</td>
  </tr>
  <tr>
    <td>Nous <span class="focus">sommes</span> étudiants</td>
    <td>私達は学生です</td>
  </tr>
  <tr>
    <td>Vous <span class="focus">êtes</span> étudiants</td>
    <td>あなた達は学生です</td>
  </tr>
  <tr>
    <td>Ils <span class="focus">sont</span> étudiants</td>
    <td>かれらは学生です</td>
  </tr>
</table>
<hr/>
<p>ÊTREの主語よりの形は非常に覚えにくいですけど一般的の動詞のかたちはより簡単です。</p>
<hr/>
<p>ÊTREの前に何でもの主語を使えるけど動詞の後の言葉は名詞または形容詞ならばあの名詞や形容詞の形が主語より少しかわる。上記の例の中にétudiantとの名詞に時々sが付いていると気づきました？単に主語は複数形だとétudiantはétudiantsになります。</p>
<p>上記の例のなかに使用されてないけど主語は女性ならétudiantはétudianteになります！主語は女性で複数形だとétudiantesになります。一般的に女性にはeを付いて複数形にsを付く。</p>
<p>下記の例をご覧ください：</p>
<!-- TODO: add images -->
