<p>今日のトピックはÊTREと言う動詞です！</p>
<p>つまりにすればÊTREとは　だ/です　と同じものです。しかしフランス語は日本ごより難しい...</p>  
<ul>
  <li>（X）は/が（Y）です　<=>　（X）（ÊTRE）（Y）</li>
  <li>ÊTRE動詞は主語より変わる！</li>
</ul>
<hr/>
<p>現在時制ならば：</p>
<table>
  <tr>
    <th>フランス語</th>
    <th>日本語</th>
  </tr>
  <tr>
    <td>Je suis étudiant</td>
    <td>私は学生です</td>
  </tr>
  <tr>
    <td>Tu es étudiant</td>
    <td>あなたは学生です</td>
  </tr>
  <tr>
    <td>Il est étudiant</td>
    <td>彼は学生です</td>
  </tr>
  <tr>
    <td>Nous sommes étudiants</td>
    <td>私達は学生です</td>
  </tr>
  <tr>
    <td>Vous êtes étudiants</td>
    <td>あなた達は学生です</td>
  </tr>
  <tr>
    <td>Ils sont étudiants</td>
    <td>かれらは学生です</td>
  </tr>
</table>
<hr/>
<p>ÊTREの主語よりの形は非常に覚えにくいですけど一般的の動詞のかたちはより簡単です。</p>
<hr/>
<p>ÊTREの前に何でもの主語を使えるけど動詞の後のことば名前または形容詞ならばあの名前や形容詞の形が主語より少しかわる。上記の例の中にétudiantとの名刺に時々sが付いていると気づきました？単に主語は複数形だとétudiantはétudiantsになります。</p>
<p>上記の例のなかに使用されてないけど主語は女性ならétudiantはétudianteになります！主語は女性で複数形だとétudiantesになります。一般的に女性にはeを付いて複数形にsを付く。</p>
<p>下記の例をご覧ください：</p>
