<!-- Articles définis et indéfinis -->
<p>今度のトピックは「<span class="ecoutable" data-sound="le">le</span> <span class="ecoutable" data-sound="la">la</span> <span class="ecoutable" data-sound="les">les</span>, <span class="ecoutable" data-sound="un">un</span> <span class="ecoutable" data-sound="une">une</span> <span class="ecoutable" data-sound="des">des</span>」という小さい言葉です。</p>
<p>たまに日本語でちゃんとどんなことについて話しているのを言わないと誤解しやすいだと思います。例えばえんぴつのない人は「えんぴつがいる」と言っていたら意味は二つ可能だ。えんぴつがなくていつか困るかもしれないのでそろそろ買うつもり、あるいは今何か書きたくてあなた持っているえんぴつを貸してもらいたいとの解釈があります。多くの場合、現場にいたらどちらの意味ですかわかりやすいけど少し曖昧だ。<br/>
あの曖昧さの理由は名刺のタイプなんです。日本語であのタイプを分別しないけど、指定するための名刺と描写するための名刺がありませ。「いつかえんぴつを買う」と言ったら、あるえんぴつを指定しなくて、「えんぴつ」との名刺が今買いたいなものを描写する。あるいは「あなたが持っているえんぴつを借りてもいい？」と言ったら「えんぴつ」とはあるえんぴつを指定する。
フランス語ならちゃんとどんなえんぴつについて話しているのを明らかにするため名詞の一つずつに「<span class="ecoutable" data-sound="le">le</span> <span class="ecoutable" data-sound="la">la</span> <span class="ecoutable" data-sound="les">les</span>, <span class="ecoutable" data-sound="un">un</span> <span class="ecoutable" data-sound="une">une</span> <span class="ecoutable" data-sound="des">des</span>」のような小さい言葉をくっつく。このような小さい言葉は「<span class="ecoutable" data-sound="article">article <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></span>」と言います。「article」の種類はたくさんありますけど今度一番使われているやつに集中しましょう。
</p>

<h2><span class="ecoutable" data-sound="articles_indefinis">Articles Indéfinis <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></span></h2>

<p>まず、「<span class="ecoutable" data-sound="un">un</span> <span class="ecoutable" data-sound="une">une</span> <span class="ecoutable" data-sound="des">des</span>」について話しましょう。それらは <span class="ecoutable" data-sound="articles_indefinis">articles indéfinis <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></span> と言います。</br>
フランス語で <span class="ecoutable" data-sound="un_stylo">un stylo <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span> (えんぴつ)</span> と言うと「stylo」は描写する名刺だ。別にあるえんぴつを指定しない。「それらからえんぴつの一つを選んで」とか「あしたえんぴつを買う」とか「明日試験があるからえんぴつがいる」などの場合は article indéfini を使う。それに une と des は un の女子形と複数形なんです。</p>

<h2><span class="ecoutable" data-sound="articles_indefinis">Articles Définis <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></span></h2>

<p>指定するための名刺は「article défini」の「<span class="ecoutable" data-sound="le">le</span> <span class="ecoutable" data-sound="la">la</span> <span class="ecoutable" data-sound="les">les</span>」を使う。</br>
<span class="ecoutable" data-sound="le_stylo">le stylo <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></span>」と言ったらあるえんぴつについての話だ。「stylo」との名刺に指定されているえんぴつは事柄または状況より推論できるはず。「昨日使ったえんぴつを忘れちゃった」とか「ダンが貸してあげたえんぴつは色が青い」などの場合はあるえんぴつについての話ですから article défini を使う。それに la les は le の女子形と複数形だ。</p>

<h2>注意</h2>

<p>カテゴリーとか概念的な物も「le la les」を使って指定できる。例えば「数学が嫌い」と言ったら「<span class="ecoutable" data-sound="je_n_aime_pas_les_mathematiques">je n'aime pas les mathématiques <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></span>」と言います。「<span class="ecoutable" data-sound="j_aime_la_danse">j'aime la danse (踊り) <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></span>」と言ったら意味が二つ可能だ：ある踊りについ話していたらあの踊りを好きということです。あるいはトピック芸術だったら、踊りは芸術の一つとして好きということです。「j'aime une danse」と言ったらジャズダンスとかバレーとかダンスの一つ好きけどどれですか不明だ、それにどれですか今のトピックでわない。「どれ好き？」と聞かれたら「<span class="ecoutable" data-sound="j_aime_la_danse_jazz">j'aime la danse jazz <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></span>」と答えられる、こんどダンスの一つを指定するから。</p>

<h2>注意</h2>

<p>たまにフランス語で「<span class="ecoutable" data-sound="au">au</span> <span class="ecoutable" data-sound="au">aux</span> <span class="ecoutable" data-sound="du">du</span>」との articles もでる。それらは「de le, de les, de un」の略語だけどまた今度のレッスンのトピックだ　：）</p>


