<p>今度のトピックは「C」の字の発音しかた！</p>
<hr/>
<p>「C」は日本人として中々簡単の発音しかただけどルールがあります！</p>
<p>「C」の次の字より「C」の発音仕方変わる。例えば「Cé <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>」は「せ」との発音になりますが「Ca <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>」は「か」との発音になります</p>
<hr/>
<p>詳しくは：</p>
<table class="rule-table table">
  <tr>
    <th>「C」の次の字</th>
    <th>「C」の発音</th>
  </tr>
  <tr>
    <td>a - o - u - 何でもの子音</td>
    <td>か - こ - ku (「く」と「き」の間の音)</td>
  </tr>
  <tr>
    <td>その他の母音</td>
    <td>s と同じように発音!</td>
  </tr>
</table>
<hr/>
<p>だけど、「Ç」と言う字を見た事があるんじゃない？この字の名前は「C cédille」だ。この字はいつも「s」と同じ発音仕方にする。ある言葉の中に何かの理由で「C」の後の字が変わったら、たまに「C」の発音仕方を守るために「C」を「Ç」に変わる。例えば「commencer <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>」という動詞（始める）、「commençant <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>」(始めている)になることもある。</p>
<hr/>

<h2>注意</h2>
<p>
"C"の発音仕方の難しいところは二つ、"ch"と"cc"。
</p>
<p>
"cc"の次の字はa-o-u、またはどれでもの子音ならば、単に"c"と同じように「k」と言う音で発音する。だけど次の字はeかiかでしたら一番目の”c”と二番目の”c”は別々に発して、「ks」と言う音になります。
</p>
<p>
例えば有名のロクシタンと言うブランドはフランス語でL'occitane <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span> になります。
</p>
<p>
"ch"は一般的に「sh」と同じように発音するんですけど、たまに古代ギリシャから外来語の"ch"は「k」と発音します。<br/>
</p>
<p>
例えばオーケストラはフランス語で"Orchestre <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>"です。
</p>
<hr/>
<h2>練習</h2>
この単語のリストを発音してみない？
<table class="rule-table table">
  <tr>
    <th>フランス語</th>
    <th>日本語</th>
  </tr>
  <tr>
    <td>c'est joli <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></td>
    <td>綺麗だ</td>
  </tr>
  <tr>
    <td>café <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></td>
    <td>コーヒー</td>
  </tr>
  <tr>
    <td>accompagner <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></td>
    <td>一緒に行く</td>
  </tr>
  <tr>
    <td>ici <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></td>
    <td>ここ</td>
  </tr>
  <tr>
    <td>ça <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></td>
    <td>これ</td>
  </tr>
  <tr>
    <td>cheval <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></td>
    <td>馬</td>
  </tr>
  <tr>
    <td>chat <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></td>
    <td>猫</td>
  </tr>
  <tr>
    <td>accident <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></td>
    <td>事故</td>
  </tr>
  <tr>
    <td>d'accord! <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></td>
    <td>OK, そうしよう！</td>
  </tr>
  <tr>
    <td>accepter <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></td>
    <td>受け入れる</td>
  </tr>
  <tr>
    <td>cours <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></td>
    <td>授業</td>
  </tr>
  <tr>
    <td>commencer <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></td>
    <td>始める</td>
  </tr>
  <tr>
    <td>accueil <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></td>
    <td>受付</td>
  </tr>
  <tr>
    <td>accumuler <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></td>
    <td>溜まる</td>
  </tr>
  <tr>
    <td>cueillir <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></td>
    <td>捥ぐ</td>
  </tr>
  <tr>
    <td>calme <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></td>
    <td>静か</td>
  </tr>
  <tr>
    <td>croissant <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></td>
    <td>クロワッサン</td>
  </tr>
  <tr>
    <td>activité <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></td>
    <td>活動</td>
  </tr>
  <tr>
    <td>leçon <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></td>
    <td>レッスン</td>
  </tr>
</table>
