<!-- Verbe être -->
<p>今日のトピックはÊTREと言う動詞です！</p>
<p>つまりにすればÊTREとは　だ/です　と同じものです。しかしフランス語は日本ごより難しい...</p>  
<!-- TODO: get the same text size for non-p text -->
<ul>
  <li>（X）は/が（Y）です　<=>　（X）（ÊTRE）（Y）</li>
  <li>ÊTRE動詞は主語より変わる！</li>
</ul>
<hr/>
<p>現在時制ならば：</p>
<!-- TODO: stylise the conj table -->
<table class="conjugaison-table table">
  <tr>
    <th>フランス語</th>
    <th>日本語</th>
  </tr>
  <tr>
    <!-- TODO: stylise the focus class-->
    <td>Je <span class="focus">suis</span> étudiant</td>
    <td>私は学生です</td>
  </tr>
  <tr>
    <td>Tu <span class="focus">es</span> étudiant</td>
    <td>あなたは学生です</td>
  </tr>
  <tr>
    <td>Il <span class="focus">est</span> étudiant</td>
    <td>彼は学生です</td>
  </tr>
  <tr>
    <td>Nous <span class="focus">sommes</span> étudiants</td>
    <td>私達は学生です</td>
  </tr>
  <tr>
    <td>Vous <span class="focus">êtes</span> étudiants</td>
    <td>あなた達は学生です</td>
  </tr>
  <tr>
    <td>Ils <span class="focus">sont</span> étudiants</td>
    <td>かれらは学生です</td>
  </tr>
</table>
<hr/>
<p>ÊTREの主語よりの形は非常に覚えにくいですけど一般的の動詞のかたちはより簡単です。</p>
<hr/>
<p>ÊTREの前に何でもの主語を使えるけど動詞の後の言葉は名詞または形容詞ならばあの名詞や形容詞の形が主語より少しかわる。上記の例の中にétudiantとの名詞に時々sが付いていると気づきました？単に主語は複数形だとétudiantはétudiantsになります。</p>
<p>上記の例のなかに使用されてないけど主語は女性ならétudiantはétudianteになります！主語は女性で複数形だとétudiantesになります。一般的に女性にはeを付いて複数形にsを付く。</p>
<p>例えば：</p>
<table class="table conjugaison-table">
	<tr>
		<th>フランス語</th><th>日本語</th>
	</tr>
  <tr>
  	<td>Il est étudiant<span class="focus"></span></td>
  	<td>彼は学生です</td>
  </tr>
  <tr>
  	<td>Elle est étudiant<span class="focus">e</span></td>
  	<td>彼女は学生です</td>
  </tr>
  <tr>
  	<td>Ils sont étudiant<span class="focus">s</span></td>
  	<td>彼らは学生です</td>
  </tr>
  <tr>
  	<td>Elles sont étudiant<span class="focus">es</span></td>
  	<td>彼ら(女性)は学生です</td>
  </tr>
</table>
<hr/>
<p>下記の例をご覧ください：</p>
<%= sub_img("etre/img1") do%>
  <p><span class="speaker">シェフ:</span> 俺はシェフだ！有名レストランに勤めてる！</p>
  <hr/>
  <p><span class="speaker">ガストンさん:</span> やれやれ！今日は何て辛い日だな～！疲れた！</p>
  <p class="hint">fatigué =　疲れている状態の形容詞</p>
  <hr/>
  <p><span class="speaker">野獣:</span> 何て綺麗だ！</p>
  <p><span class="speaker">ベール:</span> どうも</p>
  <hr/>
<% end %>

<%= sub_img("etre/img4") do%>
  <p>彼は獣医だ</p>
  <hr/>
  <p>Claireは医者だ</p>
  <hr/>
  <p>彼女は日本人だ</p>
  <hr/>
  <p>Didierは建築家だ</p>
<% end %>

<hr/>

<h2>練習！</h2>
<p>この形容詞や名詞で文を使って:</p>
<table class="conjugaison-table table adaptive-table">
  <tr>
    <th class="table-sem-masc">男性</th>
    <th class="table-sem-fem">女性</th>
    <th class="table-sem-mascs">男性-複数形</th>
    <th class="table-sem-fems">女性-複数形</th>
    <th class="table-sem-jap">日本語</th>
  </tr>
  <tr>
    <td class="table-sem-masc">intéressant</td>
    <td class="table-sem-fem">intéressante</td>
    <td class="table-sem-mascs">intéressants</td>
    <td class="table-sem-fems">intéressantes</td>
    <td class="table-sem-jap">興味深い</td>
  </tr>
  <tr>
    <td class="table-sem-masc">rapide</td>
    <td class="table-sem-fem">rapide</td>
    <td class="table-sem-mascs">rapides</td>
    <td class="table-sem-fems">rapides</td>
    <td class="table-sem-jap">速い</td>
  </tr>
  <tr>
    <td class="table-sem-masc">heureux</td>
    <td class="table-sem-fem">heureuse</td>
    <td class="table-sem-mascs">heureux</td>
    <td class="table-sem-fems">heureuses</td>
    <td class="table-sem-jap">うれしい</td>
  </tr>
  <tr>
    <td class="table-sem-masc">rouge</td>
    <td class="table-sem-fem">rouge</td>
    <td class="table-sem-mascs">rouges</td>
    <td class="table-sem-fems">rouges</td>
    <td class="table-sem-jap">赤い</td>
  </tr>
  <tr>
    <td class="table-sem-masc">fatigué</td>
    <td class="table-sem-fem">fatiguée</td>
    <td class="table-sem-mascs">fatigués</td>
    <td class="table-sem-fems">fatiguées</td>
    <td class="table-sem-jap">疲れている状態</td>
  </tr>
  <tr>
    <td class="table-sem-masc">fort</td>
    <td class="table-sem-fem">forte</td>
    <td class="table-sem-mascs">forts</td>
    <td class="table-sem-fems">fortes</td>
    <td class="table-sem-jap">強い</td>
  </tr>
  <tr>
    <td class="table-sem-masc">faible</td>
    <td class="table-sem-fem">faible</td>
    <td class="table-sem-mascs">faibles</td>
    <td class="table-sem-fems">faibles</td>
    <td class="table-sem-jap">弱い</td>
  </tr>
  <tr>
    <td class="table-sem-masc">concentré</td>
    <td class="table-sem-fem">concentrée</td>
    <td class="table-sem-mascs">concentrés</td>
    <td class="table-sem-fems">concentrées</td>
    <td class="table-sem-jap">集中している状態</td>
  </tr>
  <tr>
    <td class="table-sem-masc">en retard</td>
    <td class="table-sem-fem">en retard</td>
    <td class="table-sem-mascs">en retard</td>
    <td class="table-sem-fems">en retard</td>
    <td class="table-sem-jap">遅れている状態</td>
  </tr>
  <tr>
    <td class="table-sem-masc">beau</td>
    <td class="table-sem-fem">belle</td>
    <td class="table-sem-mascs">beaux</td>
    <td class="table-sem-fems">belles</td>
    <td class="table-sem-jap">綺麗</td>
  </tr>
  <tr>
    <td class="table-sem-masc">long</td>
    <td class="table-sem-fem">longue</td>
    <td class="table-sem-mascs">longs</td>
    <td class="table-sem-fems">longues</td>
    <td class="table-sem-jap">長い</td>
  </tr>
  <tr>
    <td class="table-sem-masc">court</td>
    <td class="table-sem-fem">courte</td>
    <td class="table-sem-mascs">courts</td>
    <td class="table-sem-fems">courtes</td>
    <td class="table-sem-jap">短い</td>
  </tr>
  <tr>
    <td class="table-sem-masc">grand</td>
    <td class="table-sem-fem">grande</td>
    <td class="table-sem-mascs">grands</td>
    <td class="table-sem-fems">grandes</td>
    <td class="table-sem-jap">高い</td>
  </tr>
  <tr>
    <td class="table-sem-masc">petit</td>
    <td class="table-sem-fem">petite</td>
    <td class="table-sem-mascs">petits</td>
    <td class="table-sem-fems">petites</td>
    <td class="table-sem-jap">小さい</td>
  </tr>
  <tr>
    <td class="table-sem-masc">gros</td>
    <td class="table-sem-fem">grosse</td>
    <td class="table-sem-mascs">gros</td>
    <td class="table-sem-fems">grosses</td>
    <td class="table-sem-jap">太い</td>
  </tr>
  <tr>
    <td class="table-sem-masc">maigre</td>
    <td class="table-sem-fem">maigre</td>
    <td class="table-sem-mascs">maigres</td>
    <td class="table-sem-fems">maigres</td>
    <td class="table-sem-jap">細い</td>
  </tr>
</table>
<p>主語として下記の言葉を使える:</p>
<table class="conjugaison-table table">
  <tr>
    <th>フランス語</th>
    <th>日本語</th>
  </tr>
  <tr>
    <td>Je</td>
    <td>私</td>
  </tr>
  <tr>
    <td>Tu</td>
    <td>あなた</td>
  </tr>
  <tr>
    <td>Il</td>
    <td>彼</td>
  </tr>
  <tr>
    <td>Elle</td>
    <td>彼女</td>
  </tr>
  <tr>
    <td>Nous</td>
    <td>私達</td>
  </tr>
  <tr>
    <td>Vous</td>
    <td>あなた達</td>
  </tr>
  <tr>
    <td>Ils</td>
    <td>かれら</td>
  </tr>
  <tr>
    <td>Elles</td>
    <td>彼女達</td>
  </tr>
  <tr>
    <td>le chien</td>
    <td>犬 (男子)</td>
  </tr>
  <tr>
    <td>la voiture</td>
    <td>車　(女子)</td>
  </tr>
  <tr>
    <td>la table</td>
    <td>テーブル　(女子)</td>
  </tr>
  <tr>
    <td>les chaises</td>
    <td>椅子　(女子-複数形)</td>
  </tr>
  <tr>
    <td>mon petit frère</td>
    <td>私の弟　(男子)</td>
  </tr>
  <tr>
    <td>la porte</td>
    <td>ドア　(女子)</td>
  </tr>
</table>
<hr/>
<h2>便利な表現</h2>
<p>フランス語で「C'est ...」よく使われている文法だ。C'は「Cela」(意味：「これ」) の略語だ。例えば「C'est beau」は「これは綺麗だ」と言う意味だ。</p>
<p>「C'est」でいろいろな便利な文を作れる：</p>
<table class="conjugaison-table table">
  <tr>
    <th>フランス語</th>
    <th>日本語</th>
  </tr>
  <tr>
    <td>C'est quand?</td>
    <td>(話していた事は)いつ？</td>
  </tr>
  <tr>
    <td>C'est où?</td>
    <td>(話していた事は)どこ？</td>
  </tr>
  <tr>
    <td>C'est qui?</td>
    <td>(この人は)だれ？</td>
  </tr>
  <tr>
    <td>C'est très bon</td>
    <td>(これは)とても美味しい</td>
  </tr>
</table>
