<!-- Voyelles -->
<p>今度フランスの母音について話そう！！！</p>
<p>日本語で母音が５つだけあるからフランスの母音の15つを習うの難しいと見える。しかし、フランスの母音の全部日本語の母音から実はそんなに違わないのでこのレッスンで教えてあげて見る。</p>
<hr/>
<p>とりあえず発音仕方を練習する前に母音の全部紹介しよう：<br/>
<span class="ecoutable" data-sound="sound_i">[i]</span> <span class="ecoutable" data-sound="sound_y">[y]</span> <span class="ecoutable" data-sound="sound_u">[u]</span> <span class="ecoutable" data-sound="sound_e">[e]</span> <span class="ecoutable" data-sound="sound_eu">[ø]</span> <span class="ecoutable" data-sound="sound_o">[o]</span> <span class="ecoutable" data-sound="sound_on">[õ]</span> <span class="ecoutable" data-sound="sound_e_ouvert">[ɛ]</span> <span class="ecoutable" data-sound="sound_in">[ɛ̃]</span> <span class="ecoutable" data-sound="sound_oe">[œ]</span> <span class="ecoutable" data-sound="sound_oen">[œ̃]</span> <span class="ecoutable" data-sound="sound_o_ouvert">[ɔ]</span> <span class="ecoutable" data-sound="sound_a">[a]</span> <span class="ecoutable" data-sound="sound_a_arriere">[ɑ]</span> <span class="ecoutable" data-sound="sound_an">[ɑ̃]</span><br/>
<span class="ecoutable" data-sound="sound_i">[i]</span> <span class="ecoutable" data-sound="sound_e">[e]</span> <span class="ecoutable" data-sound="sound_e_ouvert">[ɛ]</span> <span class="ecoutable" data-sound="sound_a">[a]</span>は日本語でもう存在する！
<p>多すぎて難しいので、少しアレイで選り分けよう：
<table>
  <th>
    <td></td>
    <td colspan="2">舌の奥は舌の前と同じ高さだ</td>
    <td colspan="2">舌の前はいつも下だ。舌の奥だけ変わってる</td>
  </th>
  <th>
    <td></td>
    <td>唇は広くする</td>
    <td>唇は丸くする</td>
    <td>唇は広くする</td>
    <td>唇は丸くする</td>
  </th>
  <tr>
    <td>舌の位置は上</td>
    <td><span class="ecoutable" data-sound="sound_i">[i]</span></td>
    <td><span class="ecoutable" data-sound="sound_y">[y]</span></td>
    <td></td>
    <td><span class="ecoutable" data-sound="sound_u">[u]</span></td>
  </tr>
  <tr>
    <td>舌の位置は少し上</td>
    <td><span class="ecoutable" data-sound="sound_e">[e]</span></td>
    <td><span class="ecoutable" data-sound="sound_eu">[ø]</span></td>
    <td></td>
    <td><span class="ecoutable" data-sound="sound_o">[o]</span> / <span class="ecoutable" data-sound="sound_on">[õ]</span></td>
  </tr>
  <tr>
    <td>舌の位置は少し下</td>
    <td><span class="ecoutable" data-sound="sound_e_ouvert">[ɛ]</span> / <span class="ecoutable" data-sound="sound_in">[ɛ̃]</span></td>
    <td><span class="ecoutable" data-sound="sound_oe">[œ]</span> / <span class="ecoutable" data-sound="sound_oen">[œ̃]</span></td>
    <td></td>
    <td><span class="ecoutable" data-sound="sound_o_ouvert">[ɔ]</span></td>
  </tr>
  <tr>
    <td>舌の位置は下</td>
    <td><span class="ecoutable" data-sound="sound_a">[a]</span></td>
    <td></td>
    <td><span class="ecoutable" data-sound="sound_a_arriere">[ɑ]</span> / <span class="ecoutable" data-sound="sound_an">[ɑ̃]</span></td>
    <td></td>
  </tr>
</table>

<br/>

<p></p>
