/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "reset";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors";
@import "fonts";

* {
}

@mixin background-box {
  font-family: verdana, arial, sans-serif;
  background-color: $dark-background;
}


html, body, #page-wrapper {
  @include background-box;
  padding: 10px;
}

#main {
  background-color: $light-background;
  width: 100%;
  padding: 25px;
  border-radius: 15px;
  margin-top: 5vh;
  margin-bottom: 60px;
}

#banner {
  max-height: 150px;
  width: 100%;
  position: relative;
  text-align: center;
  a#banner-link {
    display: inline-block;
    max-height: 150px;
    width: 100%;
    img {
      display: inline-block;
      max-height: 150px;
      max-width: 30%;
    }
    div#menu-title {
      display: inline-block;
      vertical-align: middle;
      min-width: 60%;
      font-family: Anzumoji;
      font-size: 7.0vw;
      text-align: center;
    }
  }
}

#nav-shadow{
  height: 50px;
  padding: 0px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  bottom: 0px;
  left: 0px;
}

#footer-menu{
  height: 50px;
  background-color: $dark-background;
  text-align: center;
  padding: 0px;
  margin: 0px;
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  #website-menu {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    vertical-align: baseline;
    li {
      width: 17%;
      height: 100%;
      display: inline-block;
      vertical-align: middle;
      padding: 0px;
      margin: 0px;
      &:hover {
        background-color: $xdark-blue;
      }
      &:active {
        background-color: $xlight-yellow;
      }
      a {
        display: inline-block;
				vertical-align: middle;
        font-size: 3.0vw;
        background-color: transparent;
        font-family: Anzumoji;
      }
    } 
  }
}

a{
  text-decoration: none;
  color: black;
  &:hover {
    font-weight: 600;
  }
}

.wrapper, .row{
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}

.column {
  height: 100%;
  overflow: auto;
}


.btn-primary {
  text-decoration: none;
  color: white;
}
.jumbotron {
  margin: 0px;
  padding: 20px;
  text-align: center;
  background-color: white;
  p {
    font-size: 22px;
    line-height: 26px;
  }
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
hr.title-hr {
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}
