/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

html, body {
  height: 100%;
  font-family: verdana, arial, sans-serif;
}

.nav {
  font-family: Arial, sans-serif;
  font-size: 13px;
}


a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

.wrapper, .row{
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}

.column {
  height: 100%;
  overflow: auto;
  *zoom: 1;
  padding: 20px;
}

.box{
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  position: absolute;
  background-color: #444444;
}

#main {
  background-color: #e9eaed;
  padding-left: 20;
  padding-right: 20;
}

#sidebar {
  padding: 0px;
  padding-top: 15px;
  text-align: center;
}


#sidebar, #sidebar a {
  color: white;
  font-size: 2.5vw;
  line-height: 1.5vw;
  background-color: transparent;
  text-shadow: 0 0 2px #000000;
  font-family: Anzumoji;
  padding-left: 5;
}

#sidebar .nav li:hover {
  background-color: #1A1A1A;
}

#sidebar .nav li.active {
  background-color: #151515;
}


.btn-primary {
  text-decoration: none;
  color: white;
}
.jumbotron {
  padding: 20px;
  text-align: center;
}
#menu-banner {
  display: block;
  overflow: auto;
}
#menu-flag {
  max-width: 100%;
  float: top;
  display: block;
}
#menu-title {
  font-family: Anzumoji;
  float: bottom;
  display: block;
  font-size: 3.1vw;
  line-height: 3.1vw;
  text-align: center;
}
hr.hr-fade {
  border: 0;
  height: 0;
  box-shadow: 0 0 10px 1px black;
}
hr.hr-fade {
  content: "\00a0";
}
@font-face {
  font-family: Anzumoji;
  src: font-url('Anzumoji.ttf') format('truetype');
}

@font-face {
  font-family: Emblema;
  src: font-url('Emblema.ttf') format('truetype');
}

.article-box {
  background-color: white;
  padding: 15px;
  margin: 15px;
  max-width: 700px;
  min-height: 90%;
  font-size: 16px;
}
