// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// The thumbnail
@import "colors";
@import "reset";

.article-thumbnail {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 150px;
  margin: 10px;
  border: none;
  box-shadow: 5px 5px 3px grey;
  a {
    text-decoration: none;
    color: inherit;
  }
}
.article-caption {
  position: absolute;
  bottom: 0;
  min-height: 30px;
  width: 100%;
  text-align: center;
  color: White;
  background-color: $xdark-blue;//#3B5999;
}
.thumbnail-title {
  vertical-align: middle; 
  font-weight: bold;
}
#add-article{
  position: relative;
  vertical-align: center;
  text-align: middle;
  height: 100%;
  width: 100%;
  color: white;
  background-color: #3B5999;
}

// The text

.article-box {
  background-color: white;
  padding: 15px;
  margin: 15px;
  max-width: 700px;
  min-height: 90%;
  p, li, th, td{
    font-size: 18px;
    line-height: 20px;
  }
}

.conjugaison-table, .rule-table {
  tr {
		th, td {
			background-color: #F2F2F2;

			.focus {
				color: red;
				font-weight: 600;
			}
		}
		th {
			font-weight: 600;
		}
	}
}

//.ecoutable:hover {
  //cursor: pointer;
//}

.focus {
  color: red;
  font-weight: 600;
}

.jumbotron.post {
  h1.header {
    font-size: calc(14px + 1.5vw);
  }
  p {
    font-size: calc(10px + 1.0vw);
  }
  span.article-date {
    font-size: calc(10px + 1.2vw);
  }
  h1.post-title {
    font-size: calc(12px + 1.3vw);
  }
  div {
    position: relative;
    h1 {
      display: inline-block;
      position: absolute;
      line-height: 0%;
      bottom: 0px;
      left: 0px;
      margin: 0px;
      padding: 0px;
    }
  }
}

.article-date {
  display: inline-block;
  font-size: 120%;
  line-height: 0%;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

table.adaptive-table{
	@media screen and (max-width: 500px) {
		display: block;
		td, th, tr {
			display: block;
		}
		td:last-child, th:last-child {
			border-bottom: solid black 1px;
		}
		td.table-sem-masc, th.table-sem-masc {
			background-color: Lightblue;
		}
		td.table-sem-mascs, th.table-sem-mascs {
			background-color: Lightsteelblue;
		}
		td.table-sem-fem, th.table-sem-fem {
			background-color: #FFCCFF;
		}
		td.table-sem-fem, th.table-sem-fem {
			background-color: #FF99FF;
		}
		td.table-sem-jap, th.table-sem-jap {
			background-color: Palegreen;
		}
	}
}
