<h1 class="post-title">初めまして！ダンと申します　:)<br/> よろしくお願いします！</h1>
  <p>今このウェブサイトを作って始めたので資料が少なくて日本語で書いているテキストの中に誤りがあるかもしれない。今でもこのウェブサイトで勉強できるけど絶対リンクスのページに行ってこのウェブサイトが上達させられる間に他のウェブサイトもご覧ください。</p>
  <p>
  <a href='<%= links_index_path %>' class="btn btn-primary btn-large">リンクスヘ</a> 
</p>
