<div class="container-fluid">
  <header class="jumbotron hero-spacer">
  <h1>French-With-Textへようこそ!!!!</h1>
  <p>このウェブサイトは日本人向きのフランス語を学ぶためのウェブサイトです!!!
  </p>
  <p>今このウェブサイトを作って始めたので資料が少なくて日本語で書いているテキストの中に誤りがあるかもしれない。今でもこのウェブサイトで勉強できるけど絶対リンクスのページに行ってこのウェブサイトが上達させられる間に他のウェブサイトも拝見してください。</p>
  <p>
  <a href='<%= links_path %>' class="btn btn-primary btn-large">リンクスヘ</a> 
  </p>
  </header>
  <hr>
  <!-- Title -->
    <div class="row">
      <div class="col-lg-12">
        <h3>最新フィーチャ</h3>
      </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <div class="caption">
              <h3>テキスト</h3>
              <p>論評させられているバイリンガルテキストで読解を上達する</p>
              <p>
                <a href='<%= articles_path %>'class="btn btn-primary">テキストへ</a>
              </p>
            </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <div class="caption">
              <h3>リンクス</h3>
              <p>インターネットが広い!!!<br/>他のウェブサイトであるフランス語を習うための資料はここに投書します</p>
              <p>
                <a href='<%= links_path %>' class="btn btn-primary">リンクスヘ</a> 
              </p>
            </div>
        </div>
      </div>
    </div>

