  <h1 id="list-title" class="h1">ニュースフィード</h1>
  <hr class="title-hr">
  <div class='display-block' id='display-articles'>
  <% @articles.each do |article| %>
    <%= render partial: 'articles/post',
                locals: {article: article} %>
  <% end %>
  </div>
