<div class="container-fluid">
  <h1 style="font-family: 'Anzumoji';">ダンのプチブログへようこそ!!!</h1>
  <p>このウェブサイトは日本人向きのフランス語を学ぶためのウェブサイトです!!!
  </p>
  <hr class="title-hr">
  <div class='display-block' id='display-articles'>
  <% @articles.each do |article| %>
    <%= render partial: 'articles/post',
                locals: {article: article} %>
  <% end %>
  </div>
</div>

