<div class="jumbotron">
  <h1>このページまだできていません</h1>
  <p>
  恐れ入りますがこのウェブサイトは新しくてまだ完了していません！まったく関係がないですけど最近この美味しいクッキーレシピを見つけた：
  </p>

  <p>
    <a class="btn btn-lg btn-primary"
       href="http://matome.naver.jp/odai/2138188385276088601"
       role="button">
       クッキーレシピ
    &raquo;</a>
  </p>
</div>

