<div class="jumbotron">
  <h1>Coming soon</h1>
  <p>
  This website is new and many features are not built yet.
  Meanwhile, I invite you to eat some biscuits:
  </p>

  <p>
    <a class="btn btn-lg btn-primary"
       href="http://matome.naver.jp/odai/2138188385276088601"
       role="button">
       Eat some biscuits
    &raquo;</a>
  </p>
</div>

